.guarantee{
  background-color: #20282c;

  &__wrap-1280{
    max-width: 1280px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 40px 60px;
  }

  &__title{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
  }

  &__col-1{
    max-width: 700px;
    width: 58.333%;
    margin-top: 65px;
  }

  &__col-2{
    max-width: 400px;
    width: 33.333%;
    margin-top: 65px;
    margin-left: 6.6666%;
  }

  &__communications{}
}


.support-info{
  &__item{
    &:not(:first-child){
      margin-top: 30px;
    }
  }

  &__title{
    color: #fdc755;
  }

  &__description{
    margin-top: 15px;
    color: #FFFFFF;
  }
}



.fotorama{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  &__stage{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  &__img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}