.about{
  overflow-x: hidden;

  &--custom-cursor{
    cursor: url('/img/cursore.png'), auto;
  }

  &__title{
    line-height: 1;
  }

  &__facts-wrap{
    max-width: 880px;
    margin: 0 auto;
    padding: 50px 40px 85px;
  }
}


.facts{
  display: flex;
  justify-content: space-between;
  position: relative;

  &__col-1-2{
    max-width: 380px;
    &:last-child{
      margin-top: 10px;
    }
  }

  &__item{
    &:not(:first-child){
      margin-top: 130px;
    }
  }

  &__reputation{
    margin-top: 150px;
    text-align: center;
  }

  &__img{}

  &__reputation-text{
    margin-top: 25px;
    font-size: 20px;
    color: #333333;
  }

  &__hand-wrap{
    display: none;
    position: absolute;
    top: 60px;
    z-index: 7;
    transform: translateX(30%);
    user-select: none;

    min-width: 439px;
    left: -260px;

    &.visible{
      display: block;
    }

    &--reading{
      left: 350px;
      transition: left 1.4s ease;
    }

    &--right{
      left: 85%;
      top: 190px;
      transition: left .9s cubic-bezier(0.5,-0.08, 0.56, 0.82), top .8s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
  }

  &__hand{
    position: relative;
  }

  &__hand-laser-img{
    display: none;
    position: absolute;
    top: -39px;
    left: -145px;
    
    &--on{
      /*display: block;*/
    }
  }
}


.fact{
  &__img{}

  &__title{
    margin-top: 20px;
  }

  &__description{
    margin-top: 15px;
  }
}