.about{
  &__title{
    line-height: 1;
  }

  &__facts-wrap{
    max-width: 880px;
    margin: 0 auto;
    padding: 50px 40px 85px;
  }
}


.facts{
  display: flex;
  justify-content: space-between;
  position: relative;

  &__col-1-2{
    max-width: 380px;
    &:last-child{
      margin-top: 10px;
    }
  }

  &__item{
    &:not(:first-child){
      margin-top: 130px;
    }
  }

  &__reputation{
    margin-top: 150px;
    text-align: center;
  }

  &__img{}

  &__reputation-text{
    margin-top: 25px;
    font-size: 20px;
    color: #333333;
  }

  &__hand-wrap{
    position: absolute;
    top: 0;
    z-index: 7;
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
    transform: translateX(30%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--screen-fixed{
      position: fixed;
      top: ~'calc(100% - 284px)';
    }

    &--bottom-fixed{
      position: absolute;
      top: ~'calc(100% - 284px)';
    }
  }
}


.fact{
  &__img{}

  &__title{
    margin-top: 20px;
    font-size: 24px;
  }

  &__description{
    margin-top: 15px;
  }
}