.become {
  background: url("/img/cardboard.jpg") center repeat-x;

  &__wrap-1280 {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    background: url("/img/left_border.png") top left no-repeat,
    url("/img/right_border.png") top right no-repeat,
    url("/img/cardboard.jpg") center repeat-x;
  }

  &__title {
    text-align: center;
  }

  &__form {
    margin-top: 35px;
  }

  &__footer {
    display: flex;
    padding: 0 160px 0 150px;
    margin-top: -90px;
  }

  &__col-1-2 {
    max-width: 250px;
    &:last-child {
      text-align: right;
      margin-left: auto;
    }
  }

  &__img-wrap {
    display: inline-block;
    line-height: 0;
    &--100 {
      width: 100%;
    }
    &--margin {
      margin: 15px 15px 0 0;
    }
  }

  &__img {
    user-select: none;
    opacity: 0;
  }

  &__info {
    margin-top: 40px;
  }

  &__info-row {
    color: #333333;
    font-size: 14px;
    line-height: 1.8;
  }

  &__info-mail {
    .link(#137cc1, rgba(19, 124, 193, 0.5), #CC0000, rgba(204, 0, 0, 0.5));
    display: inline-block;
    line-height: 1.2;
  }

}

.img{
  &-name{
    &.visible{
      opacity: 1;
    }
  }

  &-question{
    &.visible{
      opacity: 1;
    }
  }

  &-phone{
    &.visible{
      opacity: 1;
    }
  }

  &-mail{
    &.visible{
      opacity: 1;
    }
  }
}

.partner-form {
  &__form {
    max-width: 306px;
    margin: 0 auto;
  }

  &__row {
    margin-top: 15px;

    &--button {
      text-align: right;
      margin-right: 3px;
    }
  }

  &__validation-wrap {
    position: relative;

    &.error {
      &:not(.filling) {
        .partner-form__input {
          animation: field-shake 0.8s;

          &:focus {
            border: 4px solid #cc0000;
          }

          outline: none;
          border: 1px solid #cc0000;
        }
      }
      .partner-form__input {
        &:focus {
          & + .tooltip-wrap {
            z-index: 1;
            display: block;
          }
        }
      }
    }
  }

  &__row-name {
    position: relative;

    &:hover {
      .partner-form__validation-wrap {
        &.error {
          .tooltip-wrap {
            display: block;
          }
        }
      }
    }
  }

  &__label {
    position: absolute;
    vertical-align: top;
    font-size: 20px;
    margin-top: 15px;
    color: #333333;
    right: 25px;
    white-space: nowrap;
  }

  &__input {
    width: 100%;
    max-width: 278px;
    border: 1px solid #8b7662;
    border-radius: 4px;
    padding: 13px 10px;
    font-size: 20px;
    margin: 3px;

    &--textarea {
      resize: none;
      height: 50px;
      line-height: 1.2;
    }

    &:hover {
      border: 1px solid #137cc0;
    }

    &:focus {
      border: 4px solid #137cc0;
      margin: 0;
    }
  }

  &__send-form {
    padding: 15px 27px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    background-color: #137cc0;
    font-family: @bold;
    border-radius: 4px;

    &:hover {
      background-color: #1491c4;
      outline: none;
    }
    
    &.load {
      background: url(../img/default.svg) center center no-repeat, #aaaaaa;
      background-size: 38px 38px;
      color: transparent;
      width: 140px;
      height: 48px;
      cursor: default;
      padding: 0;
    }
  }
}

.tooltip-wrap {
  display: none;
  position: absolute;
  z-index: 3;
  left: 325px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 270px;
  width: 100%;
}

.tooltip {
  padding: 10px 15px;
  position: relative;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 3px 6px #8b7662;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  line-height: 1.45;

  &::before, &::after {
    content: '';
    position: absolute;
    background: #fff;
    box-shadow: 0 3px 6px #8b7662;
    left: -5px;
    top: ~'calc(50% - 5px)';
    width: 10px;
    height: 10px;
    z-index: -1;
    transform: rotate(45deg);
  }
  &::before {
    z-index: 1;
    box-shadow: none;
  }
}

@keyframes field-shake {
  10%, 30%, 50%, 70%, 90% {
    text-indent: 0.25em
  }
  20%, 40%, 60%, 80% {
    text-indent: 0.75em
  }
}