.become{
  background: url("/img/cardboard.jpg") center repeat-x;

  &__wrap-1280{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    background: url("/img/left_border.png") top left no-repeat,
                url("/img/right_border.png") top right no-repeat,
                url("/img/cardboard.jpg") center repeat-x;
  }

  &__title{
    text-align: center;
  }

  &__form{
    margin-top: 35px;
  }

  &__footer{
    display: flex;
    padding: 0 160px 0 150px;
    margin-top: -90px;
  }

  &__col-1-2{
    max-width: 250px;
    &:last-child{
      text-align: right;
      margin-left: auto;
    }
  }

  &__img-wrap{
    display: inline-block;
    line-height: 0;
    &--100{
      width: 100%;
    }
    &--margin{
      margin: 15px 15px 0 0;
    }
  }
  
  &__img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
  }

  &__info{
    margin-top: 40px;
  }

  &__info-row{
    color: #333333;
    font-size: 14px;
    line-height: 1.8;
  }

  &__info-mail{
    .link(#137cc1, rgba(19, 124, 193, 0.5), #CC0000, rgba(204, 0, 0, 0.5));
    display: inline-block;
    line-height: 1.2;
  }

}

.partner-form{
  &__form{
    max-width: 306px;
    margin: 0 auto;
  }

  &__row{
    margin-top: 15px;
    text-align: right;

    &--button{}
  }

  &__row-name{
    position: relative;
  }

  &__label{
    position: absolute;
    vertical-align: top;
    font-size: 20px;
    margin-top: 15px;
    color: #333333;
    width: 100%;
    right: 330px;
  }

  &__input{
    width: 100%;
    max-width: 278px;
    border: 1px solid #8b7662;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 13px 10px;
    font-size: 20px;
    margin: 3px;

    &--textarea{
      resize: none;
      height: 50px;
      line-height: 1.2;
    }

    &:hover{
      border: 1px solid #137cc0;
    }

    &:focus{
      border: 4px solid #137cc0;
      margin: 0;
    }
  }
}

.send-form{
  padding: 15px 27px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #137cc0;
  font-family: @bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  &:hover{
    background-color: #1491c4;
  }
}