@media screen and (max-width: 1200px) {
  .animate{
    &__img{
      &--scanner{
        left: 5%;
      }

      &--printer{
        left: 1%;
      }

      &--sensor{
        right: 2%;
      }

      &--monitor{
        right: ~'calc(2% + 48px)';
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .advantages{
    margin-left: 9%;
  }

  .animate{
    &__img{
      &--pockets{
        display: none;
      }

      &--bludo{
        display: none;
      }

      &--scanner{
        display: none;
      }

      &--printer{
        display: none;
      }

      &--sensor{
        right: 7%;
      }

      &--monitor{
        right: ~'calc(7% + 48px)';
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .advantages{
    margin-left: 3%;
  }

  .animate{
    &__img{
      &--sensor{
        right: 1%;
      }

      &--monitor{
        right: ~'calc(1% + 48px)';
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .advantages{
    margin: 50px auto 0;
  }

  .titular{
    &__white-bottom{
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .titular{
    &__wrap-1280{
      padding: 40px 20px 35px;
    }
  }
}

@media screen and (max-width: 355px) {
  .advantages{
    padding: 40px 25px 40px 10px;
  }
}