.hide {
  display: none;
}
.white-popup {
  position: relative;
  width: auto;
  max-width: 400px;
  box-sizing: border-box;
  padding: 40px 40px 15px;
  margin: 20px auto;
  border: 3px solid #ff9530;
  border-radius: 15px;
  background: #FFF;

  &.send-status {
    padding: 45px 40px;
    p {
      text-align: center;
    }
    .center {
      text-align: center;
    }
    .popup-title {
      text-align: center;
      font-family: "Arial", sans-serif;
      font-size: 24px;
      color: #333333;
      margin-bottom: 35px;
      font-weight: normal;
    }
    .sub-title-text {
      font-family: "Arial", sans-serif;
      font-size: 16px;
      color: #666666;
      line-height: 1.5;
    }
  }

  .popup-title {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 36px;
    color: #333333;
    font-weight: normal;
  }

  .rows-block {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    &.button-row {
      .col-1-2 {
      }
      .status-bar {
        opacity: 0;
        font-size: 14px;
        font-style: italic;
        color: #cc0000;
        max-width: 120px;
        padding-top: 5px;
        &.show {
          opacity: 1;
        }
      }
      .row-name {
        text-align: right;
        .send-form {
          background: #ffcc66;
          font-size: 16px;
          color: #333333;
          padding: 10px 20px;
          border: none;
          border-radius: 3px;
          &:hover, &:focus {
            cursor: pointer;
            background: #ffd480;
            outline: none;
          }
        }
        .send-form.load {
          background: url(../img/default.svg) center center no-repeat, #aaaaaa;
          background-size: 38px 38px;
          color: transparent;
          width: 126px;
          height: 38px;
          padding: 0;
        }
      }
    }
  }

  .row-name {
    display: block;
    width: 100%;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    .gray {
      color: #999999;
      font-weight: normal;
    }

    &:hover {
      .validation-wrap{
        &.error{
          .tooltip-wrap{
            display: block;
          }
        }
      }
    }
  }

  textarea.popup-input {
    min-height: 150px;
    resize: none;
  }

  .col-1-2 {
    flex: 1;
  }

  .popup-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
    transition: border .3s ease, box-shadow .3s ease;

    &:hover {
      outline: none;
      border: 1px solid #ffcc66;
    }

    &:focus {
      outline: none;
      border: 1px solid #ffcc66;
      box-shadow: 0 0 10px 0 rgba(255, 204, 102, 0.5);
    }

    &:focus:hover {
      outline: none;
      border: 1px solid #ffcc66;
      box-shadow: 0 0 10px 0 rgba(255, 204, 102, 0.5);
    }
  }

  .validation-wrap {
    position: relative;

    &.error{
      &:not(.filling){
        .popup-input{
          outline: none;
          border: 1px solid #cc0000;
          box-shadow: 0 0 10px 0 rgba(204, 0, 0, 0.5);
        }
      }
      .popup-input{
        &:focus {
          &+.tooltip-wrap{
            z-index: 1;
            display: block;
          }
        }
      }
    }
  }

  .tooltip-wrap{
    display: none;
    position: absolute;
    z-index: 3;
    left: 325px;
    top: 50%;
    transform: translateY(-50%);
  }

  .tooltip {
    padding: 10px 15px;
    position: relative;
    font-size: 14px;
    background-color: #ffcc00;
    -webkit-box-shadow: 0 0 35px -10px #000;
    -moz-box-shadow: 0 0 35px -10px #000;
    box-shadow: 0 0 35px -10px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: normal;

    &::before, &::after {
      content: '';
      position: absolute;
      background: #ffcc00;
      left: -5px;
      top: ~'calc(50% - 5px)';
      width: 10px;
      height: 10px;
      -webkit-box-shadow: 0 0 35px -5px #000;
      -moz-box-shadow: 0 0 35px -5px #000;
      box-shadow: 0 0 35px -5px #000;
      z-index: -1;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &::before {
      z-index: 1;
      box-shadow: none;
    }
  }

}